$gap: 15px;
$white: #fff;
$big-font: 24px;

.header-container {
    padding: 0;
    text-align: center;
    color: $white;
    font-size: $big-font;
}

.filter-container {
    padding: $gap;
}

.spinner-container {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.12);
    top: 0;
    left: 0;
}

.movies-container {
    display: flex;

    &__content {
        row-gap: $gap;
    }
}
